# Introduction to Python

## Hello, World! in Python

Press Ctrl + Enter to run a cell. The print function will print the output in the line below the cell.

In [1]:
print('Hello, World!')

Hello, World!

## Arithmetic Operations

In [2]:
3 + 5 ## Addition

8

In [3]:
8 - 5 ## Subtraction

3

In [4]:
5 * 4 ## Multiplication

20

In [5]:
4.3 / 2 ## Division

2.15

In [6]:
5/6 ## Decimal/"floating point" division

0.8333333333333334

#### Floor Division ( // )
This operator will divide two operands and **round down** the result.

**Example**
13 / 7 = 1.857 
13 // 7 = 1 (1.857 is rounded down)

-13 // 7 = -2 (-1.857 is **rounded down**)

In [7]:
5//7

0

In [8]:
-13//7 ## Floor division (note the difference compared to above!)

-2

In [9]:
8 % 6 ## Remainder operation (Modulus)

2

In [10]:
5**3 ## An exponent operation

125

In [11]:
not True ## Negating a boolean

False

In [12]:
not False

True

#### A note about Jupyter Notebooks:

Jupyter Notebooks will be default print only the output to the last line of code.

In [13]:
2 + 3
5 // 2

2

To print multiple lines, use the print function.

In [14]:
## Print the result of two calculations
print(2 + 3)
print(5 // 2)

5
2

## Introduction to Data Types

### List of data types


*   string : `"Hello there"`
*   integer : `7`
*   decimal (float) : `7.0`
*   boolean (true/false) : `True`
*   complex numbers : `2 + 3j`

Different operations are defined for each data type. For instance, you can *negate* any boolean value (turn a `True` into a `False`, or vice versa); you can *concatenate* strings together; you can *add* or *subtract* integers and decimals.

You can check the type of any data using the `type()` function

In [15]:
print(type('Hello there'))
print(type(4//3)) ## notice that you can perform operations on numbers and pass as argument to a function
print(type(5.0))
print(type(True))
print(type(2+3j))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

### String

A string can be empty or can contain as many characters as you like (constrained by your computer's memory)

In [16]:
## Special characters in strings
print('This string contains a single quote (') character.')

SyntaxError: invalid syntax (<ipython-input-16-53fcefccdf9a>, line 2)

In [17]:
## Fix this by using "" or '' quotes
print("This string contains a single quote (') character.")
print('This string contains a double quote (") character.')

This string contains a single quote (') character.
This string contains a double quote (") character.

In [18]:
## OR 
## Escape Sequences (\)
print('This string contains a single quote (\') character.')
print("This string contains a double quote (\") character.")
print("This string contains a back slash (\\) character.")
print("This string contains a new line\
 character but it is ignored.")

This string contains a single quote (') character.
This string contains a double quote (") character.
This string contains a back slash (\) character.
This string contains a new line character but it is ignored.

In [19]:
## Special characters
print("This prints a new \nline")
print("\n")
print("This prints a \t tab")

This prints a new
line


This prints a 	 tab

### Integer

In [20]:
## Integers have no upper limit in Python and are only constrained by your computer's memory.

## By default integers are interpreted as base 10. Here is how they can be interpreted in different bases.
print(11) ## base 10
print(0b11) ## prefix 0b indicates base 2
print(0o11) ## 0o indicates base 8
print(0x11) ## 0x indicates base 16

11
3
9
17

### Float

In [21]:
# A float is accurate up to 15 decimal places in printing
0.198675489023782295 # 16th point is rounded

0.1986754890237823

In [22]:
# Scientific Notation
print(4.2e-4)
print(-4.2e-4)
print(type(-4.2e-5))

0.00042
-0.00042
<class 'float'>

In [23]:
# Upper Limit of Float Data Type: 1.8e308
print(1.7e308)
print(1.8e308) # will be printed as inf
print(-1.8e308) # will be printed as -inf

1.7e+308
inf
-inf

In [24]:
# Floating type precision
print(5e-324) # Precision in Python
print(1e-325) # will print zero

5e-324
0.0

### Boolean

True in int is 1 <br>
False in int is 0

### Data Type Arithmetic

In [25]:
## Int to Float
print(2 + 2.0)
print(2 // 3.0) # performs floor division, then converts to float!

## Int to Complex
print(2 + 1 + 2j)

## Float to Complex
print(3.0 + 1 + 4j) # no conversion
print(3.0 + 2 + 5.0j) # no conversion

4.0
0.0
(3+2j)
(4+4j)
(5+5j)

## Variables

We might want to store data temporarily in a "container" such that we can modify it subject to some conditions later. In this case, we can assign it to a variable. This is called **defining** a variable.

In [26]:
## Defining a variable
x = 5
y = 7.0

In [27]:
## Combining function + variables + operations
print(y // x)

1.0

In [28]:
## string data is assigned using "" or ''
my_city = "New York"
my_country = 'USA'

Notice that the actual data (right-side of the equals sign) is being highlighted in different colors across the two variables. This is happening because one variable contains text, or **string** data, while the other contains a number (an **integer**)

These are two of the essential "data types".

In [29]:
## We can figure out how many floors we'll have to travel to get there

z = x**2 + y / 3

In [30]:
print(z)

27.333333333333332

Using variables allows us to write generalized code that can serve as a formula, even as the specific values saved in these variables change.

### Reserved Keywords


In Python, some words are "reserved" and cannot be used as names for variables or functions (identifiers).

For instance, the word `True`, when it does not appear within quotation marks, will always evaluate to the _value_ **True** (and similar for `False`). Other reserved tokens are those that comprise the actual language, such as `if`, `else`, `return`, and so on.

https://www.programiz.com/python-programming/keyword-list

In [31]:
var1 = 10
var2 = "Hey!"
True = 3.4 ## Doesn't work!

SyntaxError: can't assign to keyword (<ipython-input-31-8c226123a853>, line 3)

In [32]:
var3 = True ## This, however, is completely fine...
var3

True

## Quiz 1: Data Types and Variables

Run the code to get the answers

In [1]:
# A)
print(4 + True)

# B)
print(True * False)

# C)
print(3e-15 + 4e-16 + 8e-16) # see the point I am making haha

# D)
print(2e-325 + 5e-324)

# E)
print(4 + 1 / 3 + 2)

# F)
print(4 + 1 // (3 + 2))

# G)
print("Hello, " + "There")

# H)
print(2**3/2)

5
0
4.2000000000000004e-15
5e-324
6.333333333333333
4
Hello, There
4.0

# Conditional Statements

Conditional if-statements are a very big part of programming with any language. We can think about it first using some pseudocode:

```
if ( it is raining outside ):
  grab an umbrella before leaving
else:
  leave the umbrella at home
```

Conditional statements are a way to specify sections of code that should be executed only when a condition is true. You can think of the if and else lines as being gatekeepers to the code that exists right below them.

In [34]:
## Only when the condition between the parentheses evaluates to True do we
## evaluate the associated code in the body

# if without else
x = 5
if x > 5:
    print("x is more than 5")
print("x is less than 5")

x is less than 5

In [35]:
# if with else
x = 5
if x > 5:
    print("x is more than 5")
else:
    print("x is less than 5")
print("x is equal to 5")

x is less than 5
x is equal to 5

In [36]:
# if...elif...else
x = 5
if x > 5:
    print("x is more than 5")
elif x < 5:
    print("x is less than 5")
else: 
    print("x is equal to 5")

x is equal to 5

Multiple conditional statements can be written between the paranthesis, joined by the words "or" and "and". These words are logical operators in Python.

As long as the statement within the paranthesis evaluates to a logical value (i.e., either **True** or **False**), it can be used within an if-statement.

In [37]:
 3 > 5 and 3 > 1

False

In [38]:
 3 > 5 or 3 > 1

True

Statements on *both* sides of an "and" must evaluate to `True` for the interpreter to enter the body of code following it.

In [39]:
## Testing equality

print( 3 == (4 - 1) )
print( 3 is (4 - 1) )
## use the double equals to test equality, since single equals
## is only used for assigning values
## == is the same as 'is'

print (3 != (4 - 1) )
print (3 is not (4 - 1))
## the != operator is the same as 'is not'

True
True
False
False

### Nesting if-statements

If-statements can be arbitrarily nested in your code:

In [40]:
x = 5
if x != 5:
    print("Not Equal")
else:
    if x > 5:
        print("Larger")
    else:
        print("Smaller")

Smaller

In [41]:
## For this example, we'll import a function that generates random values
from random import * # imports all the contents of the "random" library in Python
                     # * is a wildcard character that means ALL

## Here we use the random number generator to find some value
## between 0 and 1
random_number = random()
print("My random number is: " + str(random_number))

My random number is: 0.5602499200347987

In [42]:
if random_number < 0.5:
    print("The number is less than .5")
    if random_number < 0.25:
        print("... in fact, it's even less than .25")
else:
    print("The number is greater than (or equal to) .5")

The number is greater than (or equal to) .5

[Click here for an illustration](https://docs.google.com/drawings/d/1ql_x12TyNqkylYqe_tFrqJwbPGgC49qZ8I5wbv2eOtg/edit) of the logic in the if-statement above.

What is the difference between Else-If and Nested If statements?

## Quiz 2: Conditionals

#### Question 1

#### Question 3

In [6]:
x = 5
y = 10

In [7]:
# A)
if x < y: print('foo') else: print('bar')

SyntaxError: invalid syntax (<ipython-input-7-a369438f35a3>, line 2)

In [8]:
# B)
if x < y: print('foo')
elif y < x: print('bar')
else: print('baz')

foo

In [9]:
# C)
if x < y: print('foo'); print('bar'); print('baz')

foo
bar
baz

In [10]:
# D)
if x < y: if x > 10: print('foo')

SyntaxError: invalid syntax (<ipython-input-10-031d0dc814a7>, line 2)

#### Question 4

#### Question 5

# Loops

Looping is one of the most fundamental operations in programming, but can be tricky to learn for the first time. Python has several ways of performing loops.

In [43]:
# For loop
sum = 0
for i in range(1,6):
    sum = sum + i
print(sum)

15

In [44]:
# While loop
from random import *

x = random()
count = 0 # counts how many times a number larger than 0.25 is generated before the first number less than 0.5
while x >= 0.25: # Notice that this is like saying while x is not < 0.5
    count = count + 1
    x = random()
print(count)

5

## Quiz 3: Loops

#### Question 3

#### Question 4

### Miscellaneous Question
How do you think the value of count will be impacted as we change the value that x is compared to? Can you calculate the Expectation of count for a given value that x is compared to?

An important difference between for and while loops is that: <br>
1. In a For Loop, you know exactly how many times you need the loop to run
2. In a While Loop, the loop will run indefinitely until a condition is met. You don't need to know how many iterations are needed.

## Interview Practice Question Solutions

## Bonus Interview Questions

**Q1** Print the Fibonacci series in Python up to a specified number n <br>
**Fibonacci Series:** When the next number in the series is the sum of the previous two numbers. <br>
0, 1, 1, 2, 3, 5, 8, 13, 21 ...

**Q2** Write a Python program to print all the prime numbers in an interval

**Q3** Check if a number is an Armstrong Number: <br>
 
A positive integer of n digits is called an Armstrong number of order n (order is number of digits) if: <br>

abcd... = pow(a,n) + pow(b,n) + pow(c,n) + pow(d,n) + .... <br>

Example: <br>
153 = (1 x 1 x 1) + (5 x 5 x 5) + (3 x 3 x 3) = 153